.button {
  background-color: transparent;
  border: transparent;
  font-family: inherit;
  padding: 16px 64px 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #876953;
  }
}

.button__primary {
  background: rgba(135, 105, 83, 0.8);
  color: white;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}