.error__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
  color: #4F4F4F;
  margin: 0;
}

.error__sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #4F4F4F;
  margin: 0;
}

.error__description {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #4F4F4F;
  margin-top: 44px;
  margin-bottom: 91px;
}