.main-page .header-main {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 17% 0 64px;
  height: 110px;
  background: rgba(0, 0, 0, 0.35);
  mix-blend-mode: normal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  margin-bottom: 65px;

  &__menu-burger {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 50;
    padding: 33px 16px;

    &.active {
      display: flex;
    }

    .first-items__menu {
      width: calc(100% / 3);
    }

    a {
      display: flex;
      align-items: center;
      height: 33px;
      color: #828282;
      text-decoration: none;
      margin-bottom: 2px;
      padding-left: 7px;
      margin-left: 19px;
      margin-right: 2px;

      &.active {
        background-color: #876953;
      }

      svg {
        margin-left: 16px;
      }

      &.active {
        background: rgba(135, 105, 83, 0.8);
        color: #fff;
      }
    }
  }

  &__burger {
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
    margin: 0 18px 0 auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2) {
      top: 8px;
    }

    span:nth-child(3) {
      top: 16px;
    }

    &.open span:nth-child(1) {
      top: 8px;
      transform: rotate(135deg);
    }

    &.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &.open span:nth-child(3) {
      top: 11px;
      transform: rotate(-135deg);
    }
  }

  [data-is-mobile]{
    display: none;
  }
}

.header-error {
  background-color: transparent;
  box-shadow: none;
}

.header__logo {
  margin-right: 115px;
}

.header__navigation {
  padding-top: 12px;
  width: 832px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__call {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -9px;

  &-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  &-phone {
    padding-top: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    text-decoration-line: none;
    color: #FFFFFF;

  }

  &:hover {
    .number {
      text-decoration: underline;
    }
  }
}

.first-items__menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

@media screen and (max-width: 1800px) {
  .header-main {
    display: flex;
    margin-bottom: 0;
  }
  .main-page .header-main {
    display: flex;
  }
}

@media screen and (min-width: 1801px) {
  .header__menu-burger.active {
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .header {
    padding: 0;

    &__navigation {
      padding-top: 0;
      width: auto;
    }

    &__link {
      margin: 0 15px;
    }

    &__call-text {
      display: none;
    }

    &__logo {
      margin-right: 38px;
    }

    &__menu-burger {
      top: 110px;
    }

    .header__call-phone{
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .header__link {
    margin: 0 10px;
    font-size: 18px;
  }

  .header__call-phone {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .header__navigation {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__call-phone {
    font-size: 14px;
  }

  .header, .header a, .header__logo {
    height: 50px;
  }
  .header__call a {
    display: flex;
    align-items: center;
  }
  .header__menu-burger {
    top: 50px;
  }
  .header__menu-burger a svg {
    margin-left: auto;
    margin-right: 16%;
  }
}

@media screen and (max-width: 500px) {
  .header__menu-burger a {
    font-size: 12px;
  }
  .header__menu-burger a svg {
    margin-right: 5%;
  }
}